
\.metadata/
\.recommenders/
RemoteSystemsTempFiles/
countries-service/target/
countries-service-client/target/

countries-service-client/\.settings/

countries-service-client/\.classpath

countries-service-client/\.project

countries-service/\.classpath

countries-service/\.project

countries-service/\.settings/
